{% extends 'base.html' %}

{% block title %} Add Pet Form {% endblock %}

{% block content %}

<h1 class="display-1 text-center">Add Pet</h1>
<div class="container">
    <div class="row justify-content-center">
        <form action="/add" method="POST">
            {{ form.hidden_tag() }}
            {% for field in form if field.widget.input_type != 'hidden' %}
            <div class="p-3">
                {{field.label(class_="form-label")}}
                {{field(class_="form-control")}}

                {% for err in field.errors %}
                <small class="form-text text-danger">{{err}}</small>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="btn btn-success">Add</button>
            <a href="/" class="btn btn-warning">Go Back</a>
        </form>
    </div>
</div>
{% endblock %}
